<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',path='/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>Todo Application</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" autocomplete="username" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" name="password" autocomplete="current-password"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="card-footer text-muted">
                        <a href="/auth/register-page">Register?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>